// if you want to use sass-variables - delete root
:root {
  // base
  --font-family: "Open Sans", sans-serif;
  --content-width: 1160px;
  --container-offset: 15px;
  --container-width: calc(var(--content-width) + (var(--container-offset) * 2));

  // colors

}